.cajaLikesSeguidores {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 40%;
}

.followers, .likes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    background-color: #282745;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    margin: 0;
}